.my-city {
    font-weight: bold;
}

.cities {
    display: inline-block;
    margin-bottom: 30px;
}

.region {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}

.region a {
    display: inline-block;
    width: 100%;
    font-size: 18px;
}

.region a.main {
    font-weight: bold;
    font-size: 19px;
}